
# Основные зависимости Tabbycat
Django>=4.2,<5.0
channels>=4.0.0
asgiref>=3.7.2
uvicorn[standard]>=0.22.0
psycopg2-binary>=2.9
django-split-settings>=1.0.0
django-bootstrap4>=22.2
django-compressor>=4.3
django-countries>=7.3.3
django-debug-toolbar>=4.2
django-extensions>=3.2
django-filter>=23.5
django-mptt>=0.15
django-tables2>=2.6
django-timezone-field>=5.0
django-widget-tweaks>=1.5
django-summernote>=0.8.20.0
channels-redis>=4.1.0
Pillow>=10.0.0
gunicorn>=21.2.0
daphne>=4.0.0
django-jet>=1.0.8
munkres
